<%- include('./partials/header') %>
<main class="container my-5 py-5 text-center">
    <h1>Cadastro de Perfis</h1>
    <p>Preencha o formulário</p>












    

</main>
<%- include('./partials/footer') %>