<%- include('./partials/header') %>
<main class="container mt-5">
    <div class="container">
    <h1>Bem Vindo</h1>
<div class="row justify-content-md ">
    <div  class="shadow mt-2 ml-2 dynamic-element list-group list-group-item col-lg-3  flex-col align-items-start rounded-lg ">
        
  
        <div class=" row">
          <div class=" col-sm-4 col-lg-12 col-md-5 float-left">
            <a href="/cadastro-paciente"><label><strong>Cadastrar Pacientes</strong></label></br></a>
            
            <sub class=" text">Entre aqui para cadastrar os pacientes no sistema</s>
          </div>
        </div>
        </div> 
       
        <div  class="shadow mt-2 ml-2 dynamic-element list-group list-group-item col-lg-3  flex-col align-items-start rounded-lg ">
        
  
            <div class=" row">
              <div class=" col-sm-4 col-lg-12 col-md-5 float-left">
              <a href="/pacientes"><label><strong>Ver Pacientes</strong></label></br></a>
                
                <sub class="text">Visualize os pacientes cadastrados no sistema</s>
              </div>
            </div>
            </div> 

            <div  class="shadow mt-2 ml-2 dynamic-element list-group list-group-item col-lg-3  flex-col align-items-start rounded-lg ">
        
  
              <div class=" row">
                <div class=" col-sm-4 col-lg-12 col-md-5 float-left">
                <a href="/setores"><label><strong>Ver Setores</strong></label></br></a>
                  
                  <sub class="text">Visualize os pacientes internados por setores</s>
                </div>
                

              </div>
              </div>

              
            <div  class="shadow mt-2 ml-2 dynamic-element list-group list-group-item col-lg-3  flex-col align-items-start rounded-lg ">
        
  
              <div class=" row">
                <div class=" col-sm-4 col-lg-12 col-md-5 float-left">
                  <a href="/estatisticas"><label><strong>Ver Estatísticas</strong></label></br></a>
                    
                    <sub class="text">Visualize numeros do sistema</s>
                  </div>
              </div>
              </div>


            
           
    </div>
    
          
</div>
</div>
      </main>








<%- include('./partials/footer') %>